:root{
    --dark-slate-gray: hsl(234, 29%, 20%);
    --charcol-gray: hsl(235, 18%, 26%);
    --gray: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
}

*{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

body{
    background-color: var(--charcol-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    background-color: var(--white);
    border-radius: 25px;
    padding: 1.5em;
    max-width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.main-section h1{
    font-size: 4rem;
}

.main-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.main-section li{
    position: relative;
    left: -40px;
}

.main-section li:not(:first-child){
    padding-top: 1em;
}

.main-section .mini-check{
    padding-right:1em;
}

.form{
    padding-top:1.5em;
    height: 40%;
    display: flex;
    flex-direction: column;
}

#email-name, .subscribe{
    border-radius: 5px;
    margin-top: 1em;
    padding: 1.2em;
    max-width: 100%;
    cursor: pointer;
}

label{
    font-weight: bolder;
}

#email-name{
    border: solid 1px var(--gray);
}

.text{
    padding: 0 2em 2em 2em;
}

.text, .image{
    width:50%;

}
.big-img{
    width: 100%;

}

.subscribe, 
.dismiss{
    background-color: var(--dark-slate-gray);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.subscribe:hover, 
.dismiss:hover{
    background-color: var(--tomato);
    box-shadow: 2px 17px 18px -5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 2px 17px 18px -5px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 17px 18px -5px rgba(0,0,0,0.11);
}
.main-section{
    background-color: var(--white);
    border-radius: 25px;
    padding: 3em;
    max-width:70%;
}

.success-section{
    display: none;
    background-color: var(--white);
    border-radius: 25px;
    padding: 3em;
    max-width: 30%;
}

.success-section h2{
    font-size: 3rem;
}

.dismiss{
    border-radius: 5px;
    margin-top: 1em;
    padding: 1.2em;
    min-width: 100%;
    cursor: pointer;
    background-color: var(--dark-slate-gray);
    border: none;
    color: var(--white)
}
/*1100px breaking point*/